<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.edu.cuhk.ie.iems5722.a4_1155152392">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cuhk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cuhk"
        android:supportsRtl="false"
        android:theme="@style/Theme.IEMS5722ChatApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NFCParserActivity"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar"/>
        <activity
            android:name=".NFCActivity"
            android:label="@string/toolbar_text_f3"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />

        <service
            android:name=".CardService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list" />
        </service>

        <activity
            android:name=".AddFriendByLocationActivity"
            android:label="@string/toolbar_text_f2"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />
        <activity
            android:name=".CodeScannerActivity"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/toolbar_text_f"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/toolbar_text_c"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/toolbar_text_m"
            android:theme="@style/Theme.IEMS5722ChatApp.NoActionBar" />
    </application>

</manifest>